body {
  margin: 0;
  font-family:
    'Spoqa Han Sans Neo',
    -apple-system,
    'BlinkMacSystemFont',
    'Apple SD Gothic Neo',
    'Inter',
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209, 241, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
